.usersStyle{
    margin: 15px;
    overflow-y: scroll;
height: 100vh;
}

.friendsList{
    display: grid;
    align-items: center;
    justify-items: center;
    background: url("../../../../social-project/src/images/message/profile.jpg") no-repeat;
    background-size: cover;
    height: 12em;
}
.friendsList_item{
    border-radius: 15%;
    background: white;
    padding: 10px;
    opacity: 0.7;
}
.forPaginator{
    display: grid;
    align-items: center;
    justify-items: center;
}
.userStyle{
    display: grid;
    grid-template-columns:1fr 1fr;
    margin: 10px;
}


.user{
    display: grid;
    grid-template-rows: 2fr 1fr;
    box-shadow: 0 0 25px 0 rgba(45, 69, 95, 0.1);
    margin: 10px;
    border-radius: 10px;
    height: 20em;
}

.content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background: url("../../../../social-project/src/images/message/loginSmall.jpg") no-repeat;

    background-size:cover;
}
.content__avatar{
    display: grid;
    align-items: center;
    justify-items: center;

}
.content__avatar img{
    width: 6em;

}
.content__dataProfile{
    display: grid;
    align-self: center;
    background: white;
    border-radius: 5%;
    width: 80%;
    padding: 3px;
    opacity: 0.7;

}
.footer{
    display: grid;
    align-items: center;
    justify-items: start;
    margin-left: 15px;
}


@media screen and (max-width:767px){
    .container {
        width:540px}
    .friendsList{
        height: 6em;
    }

    .userStyle{
        display: grid;
        grid-template-columns:1fr;
        margin: 10px;
    }


    .user{
        display: grid;
        grid-template-rows: 2fr 1fr;
        box-shadow: 0 0 25px 0 rgba(45, 69, 95, 0.1);
        margin: 10px;
        border-radius: 10px;
        height: 16em;
    }

    .content__avatar{
        display: grid;
        align-items: center;
        justify-items: center;
    }
    .content__avatar img{
        width: 5em;

    }
    .content__dataProfile{
        display: grid;
        align-self: center;
        background: white;
        border-radius: 5%;
        width: 95%;
        padding: 3px;
        opacity: 0.7;
    }
    .footer{
        display: grid;
        align-items: center;
        justify-items: start;
        margin-left: 15px;
    }

}
@media screen and (max-width:575px){
    .container {
        width:100%;
        padding: 0 15px;
    }
}