.dialogsItems__content{
    display: grid;
    grid-template-rows: 20vh 60vh;
    padding:15px;

}

input, textarea {outline: none}
input:active, textarea:active {outline:none;}
:focus {outline: none}
textarea {resize: none}
textarea {resize: vertical}
textarea{resize: horizontal}


.dialogsItems__authProfile{
    display: grid;
    grid-template-columns: 1fr 2fr 0.2fr;
    align-items: center;
}

.dialogsItems__authProfile__avatar{
display:grid;
    align-items:center ;

}
.dialogsItems__authProfile__avatar img{
    top:0;
    left:0;
    width: 5em;
    border-radius: 50%;
}

.dialogsItems__authProfile__profile{
    display: grid;
    grid-template-rows:1fr 1fr;
    align-items: center;
    justify-items: start;

}

.dialogsItems__authProfile__closedBlock{

display: none;
}

.dialogsItems__search{
    display: grid;
   grid-template-columns: 1fr 6fr;
    border-radius: 15px;
    padding: 5px;
    border: 2px solid gray;
    margin: 20px 15px 10px 15px;

}
.dialogsItems__search input {
    border-style: none;
}

.dialogsItems__search__iconic{
   display: grid;
    align-items: center;
    justify-items: end;
}

.dialogsItems__public{
     display:grid;
    grid-template-rows: 40px 50vh;
    align-items: center;
}
.dialogsItems__public h3{
    display:grid;
    justify-items: center;
    padding-top: 15px;
}
.dialogsItems__listFriends{
    display: grid;
    grid-template-rows: repeat(auto-fit,8em);
    align-items: center;
    justify-items: center;
    overflow-y:scroll;
    height: 50vh;
    padding: 5px;

}
.dialogsItems__friends{
    display:grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    align-items: center;
    justify-items: center;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.13);
    margin: 5px;
}
.dialogsItems__friends__avatar{
    display: grid;
    align-items: center;
    margin: 6px;

}
.dialogsItems__friends__avatar img{
    width: 5em;
    top:0;
    left:0;
    border-radius: 50%;
}
.dialogsItems__friends__profile{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: start;
}
.dialogsItems__friends_timeMessage{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}



@media screen and (max-width:767px){
    .container {
        width:540px}
    .dialogsItems__wrapper{
        position: fixed;
        display: grid;
        grid-template-rows: 20vh 60vh;
        padding:15px;
        box-shadow: 0px 25px 25px 0px rgba(45, 69, 95, 0.1);
        left:0;
        top:80px;
        height: 90vh;
        width: 90vw;
        transform: translateX(-106%);
        transition: all 0.3s;
        z-index: 50;
    }
    .dialogsItems__wrapper{
        transform: translateX(0);
    }
    .dialogsItems__blur{
        width: 100%;
        height: 100%;
        left:6%;
        backdrop-filter: blur(2px);
        position: absolute;
    }
    .dialogsItems__content{
        width: 20%;
        height: 100%;
        background-color: rgba(167,213,255,0.5);
        transition: all 0.4s;
    }

}
@media screen and (max-width:575px){
    .container {
        width:100%;
        padding: 0 15px;
    }
}
