.online {

grid-area: u;
    grid-template-columns: 1fr;
    background-color: #ffffffff;
    box-shadow: 0 25px 25px 0 rgba(45, 69, 95, 0.1);
    overflow-y: scroll;
    line-height: 1.8;
    position: fixed;
    width:7%;
    margin-top:75px;
    margin-right:0;
    right: 0;
    padding: 5px;
    height:100vh;
    text-align: center;
}

.online h6 {
    font-family: 'Poppins', sans-serif;
    color: #656565;
    font-size: 14px;

}

.online img {
    border-radius: 50%;
    max-width: 80%;
    align-items: center;
}

.more h6 {
    color: #50b5ff;
}
@media screen and (max-width:1200px){
    .container {
        width:1140px;
    }
}
@media screen and (max-width:1199px){
    .container {
        width:960px}

}
@media screen and (max-width:991px){
    .container {
        width:720px}
    .online{
        display: none;

    }
}
@media screen and (max-width:767px){
    .container {
        width:540px;
        padding: 0;
        margin: 0;
    }
    .online{
        display: none;

    }
}
@media screen and (max-width:575px){
    .container {
        width:100%;
        padding: 0;
        margin: 0;
    }
    .online{
        display: none;
    }
}